.conteiner{
    width: 1440px;
    max-width: 100%;
    
}
.box{
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-left: 100px;
    background-color: black;
    border: solid 2px black;
    border-radius: 20px;
    box-shadow: 15px 10px red;
    transition-property: all;
    transition-duration: 2s;
}

.box:hover{
    box-shadow:15px 10px 13px red;
    transform: scale(2);
    
}

.circle{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    margin: 0 auto;
    animation-name: change;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}

@keyframes change {
    0% {
        background-color: yellow;
}
100% {
    background-color: white;
}
}
.link{
    width: 200px;
    height: 200px;
    font-size: 50px;
    animation-name: linktext;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes linktext {
    0% {
        font-size: 50px;
    }
    100% {
        font-size: 10px;
    }
}

header{
    margin-top: 150px;
    width: 1124px;
    height: 200px;
    background-color: black;
    box-shadow: inset 0px 0px 50px  red;
    
    
   
}
ul{
    
    display: flex;
    
    justify-content: space-around;
    
    
    
    
    
}

.text{
    display: flex;
    margin-top: 90px;
    font-size: 35px;
    color: aqua;
    transition-property: all;
    transition-duration: 4s;
    
    
    
}
.text:hover{
    background-color: blue;
}
.imgdiv{
   margin-top: 200px;
   position: relative;

}

.circleimg{
    margin-top: 300px;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: initial linear;
}

@keyframes rotate {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

.loadsection{ 
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.loadbox{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loadtext{
    color: black;
    margin-bottom: 25px;
    font-size: 40px;
    letter-spacing: 2px;
}
.loading{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading .linebox{
    
    width: 500px;
    height: 20px;
    border: 2px solid black;
    border-radius: 20px;
}
.loading .linebox .line{
    height: 19px;
    border-radius: 30px;
    background-color: brown;
    animation-name: loading;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0,0,0,0);
}

@keyframes loading{
    0%{
        width: 0%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
}